<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{cohort}'s favorite colours</title>

    <style>
      body {
        margin: 0;
      }
      article {
        padding: 10px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <main id="person-container"></main>
  </body>
  <script>
    const generateCohortBoxes = (data) => {
      for (let i = 0; i < data.length; i++) {
        const textColour = setContrastText(data[i].fave_colour.rgb);
        const newArticle = document.createElement('article');
        newArticle.style.background = data[i].fave_colour.hex;

        const personName = document.createElement('h2');
        personName.textContent = data[i].name;
        personName.style.color = textColour;

        const colourName = document.createElement('h3');
        colourName.textContent = data[i].fave_colour.name;
        colourName.style.color = textColour;

        const cohortName = document.createElement('h3');
        cohortName.textContent = data[i].cohort;
        cohortName.style.color = textColour;

        newArticle.append(personName);
        newArticle.append(colourName);
        newArticle.append(cohortName);
        document.getElementById('person-container').append(newArticle);
      }
    };

    async function getColourData() {
      const response = await fetch('http://127.0.0.1:5000/api/people');
      const data = await response.json();
      generateCohortBoxes(data.people);
    }

    const setContrastText = (colour) => {
      const average = (colour.r + colour.g + colour.b) / 3;
      return average > 125 ? 'black' : 'white';
    };

    getColourData();
  </script>
</html>
